footer.footer
  .container
    #social-github
      iframe(src='https://ghbtns.com/github-btn.html?user=tanisperez&repo=tfg&type=star&count=true', frameborder='0', scrolling='0', width='80px', height='20px')
      iframe(src='https://ghbtns.com/github-btn.html?user=tanisperez&repo=tfg&type=fork&count=true', frameborder='0', scrolling='0', width='80px', height='20px')
    p.text-muted(style='margin-bottom:5px;') 
                 strong Sistema Autónomo de Monitorización meteorológica con emisión de informes periódicos
    p.text-muted Estanislao R. Pérez Nartallo    
    p.text-muted Jose Antonio García Naya
    #about
      p.text-muted
      | Currently v1.0 - 
      a(href='https://github.com/tanisperez/tfg') GitHub